<div  ng-controller="userCtrl">
<form name="userForm" novalidate>
	<div>User Name:{{editUser.firstName}} {{editUser.lastName}}</div>
	<div>
		<input type="text"
			   ng-model="editUser.firstName"
			   name="firstName"
			   ng-minlength="3"
			   rst-server-error />
		<span ng-show="userForm.firstName.$error.minlength">First name should be at least  three letters.</span>
		<span ng-show="userForm.firstName.$error.serverMessage">{{userForm.firstName.$error.serverMessage}}</span>
	</div>
	<div>
		<input type="text"
			   ng-model="editUser.lastName"
			   name="lastName"
			   ng-minlength="3"
			   rst-server-error />
		<span ng-show="userForm.lastName.$error.minlength" >First name should be at least  three letters.</span>
		<span ng-show="userForm.lastName.$error.serverMessage">{{userForm.lastName.$error.serverMessage}}</span>
	</div>
	<div>form is valid?:{{userForm.$valid}}</div>
	<div>first name is valid?:{{userForm.firstName.$valid}}
	<div>last name is valid?:{{userForm.lastName.$valid}}
	<div>error:  {{userForm.firstName.$error}}</div>
	<div>error:  {{userForm.lastName.$error}}</div>
	<div>
		<button ng-click="cancelSave()">Cancel</button>
		<button ng-click="saveOrUpdateUser(editUser)"
				ng-disabled="userForm.$invalid">Save</button>
	</div>
	
</form>
</div>