[project]
	description = Rest Services based on Spring-MVC and JSON
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Haim Raman (ramanh3)
[access "refs/for/refs/*"]
	read = group user/Haim Raman (ramanh3)
	push = group user/Haim Raman (ramanh3)
	label-Code-Review = -2..+2 group user/Haim Raman (ramanh3)
	label-Verified = -1..+1 group user/Haim Raman (ramanh3)
	rebase = group user/Haim Raman (ramanh3)
	removeReviewer = group user/Haim Raman (ramanh3)
	submit = group user/Haim Raman (ramanh3)
[access "refs/heads/*"]
	read = group user/Haim Raman (ramanh3)
	create = group user/Haim Raman (ramanh3)
	push = +force group user/Haim Raman (ramanh3)
	pushMerge = group user/Haim Raman (ramanh3)
[access "refs/tags/*"]
	push = +force group user/Haim Raman (ramanh3)
	pushTag = group user/Haim Raman (ramanh3)
	pushSignedTag = group user/Haim Raman (ramanh3)
